
/* Principal */
.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #2196f3;
    background-image: url("../img/sp_main_bg.png");
    background-size: cover;
    background-position: center center;
    height: 130px;
}
h1{
    font-size: 50px;
}
.corpo{
    display: flex;
    flex-direction: row;
    margin: 50px; 
}
.educacao, .experiencia{
    width: 50%;
}
.titulo{
    font-size: 20px;
}
.conteiner{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 20px;
    padding: 0 10px;
    border-left: #c4c2c2 solid 2px;
}
.item{
    display: flexbox;
    width: 90%;
    height: 100px;
    padding: 15px;
    margin-top: 30px;
    border-left: #2196f3 solid 2px;
    box-shadow: 0 0 5px rgb(177, 175, 175);
    overflow: auto;
}
.item-titulo{
    font-size: 17px;
    /* margin-bottom: 10px; */
}
.item-especificacao{
    margin: 5px 0;
}
.item-especificacao-periodo{
    font-size: 10px;
    color: #2196f3;
    border-right: #c4c2c2 solid 2px;
    padding-right: 10px;

}
.item-especificacao-local{
    font-size: 10px;
    color: #424242;
    padding-left: 10px;
}
.item-descricao{
    font-size: 15px;
}

@media screen and (max-width: 880px) {
    .corpo{
        flex-direction: column;
        margin-top: 0;
    }
    .educacao, .experiencia{
        width: 100%;
        margin-top: 50px;
    }

}

@media screen and (max-width: 500px) {
    .cabecalho{
        height: 90px;
    }
    h1{
        font-size: 40px;
    }
    .corpo{
        margin: 0 10px; 
    }
    .conteiner{
        border: none;
    }

}