*{
    padding: 0;
    margin: 0;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}

/* Cabeçalo */
header{
    position: fixed;
    background-color: white;
    z-index: 2;
    width: 100%;
    height: 70px;
    font-size: 20px;
    box-shadow: 0 0 10px 2px rgb(101, 100, 100);
}
.logo{
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
}
.menu{
    position: absolute;
    right: 90px;
    top: 50%;
    transform: translateY(-50%);
    color: #424242;
}
.menu-principal{
    list-style: none;
}
.menu-principal-item{
    padding: 20px;
    display: inline;
}
#selecionado{
    border-bottom: #2196f3 solid;
}
.menu-principal-item a{
    text-decoration: none;
    color: black;
}

/* Principal */
main{
    position: relative;
    z-index: 1;
    width: 85%;
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
    top: 80px;
    margin-bottom: 100px;
    box-shadow: 0 0 10px 2px rgba(160, 160, 160, 0.627);
    transition: 2s;
}
.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #2196f3;
    background-image: url("../img/sp_main_bg.png");
    background-size: cover;
    background-position: center center;
    height: 130px;
}
h1{
    font-size: 50px;
}
.corpo{
    display: flex;
    flex-direction: row;
    margin: 50px;
    
}
.educacao, .experiencia{
    width: 50%;
}
.titulo{
    font-size: 20px;
}
.conteiner{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 20px;
    border-left: #c4c2c2 solid 2px;
    align-items: center;
}
.item{
    display: flexbox;
    width: 90%;
    height: 100px;
    padding: 15px;
    margin-top: 30px;
    border-left: #2196f3 solid 2px;
    box-shadow: 0 0 5px rgb(177, 175, 175);
    align-items: center;
    overflow: auto;
}
.item-titulo{
    font-size: 17px;
    /* margin-bottom: 10px; */
}
.item-especificacao{
    margin: 5px 0;
}
.item-especificacao-periodo{
    font-size: 10px;
    color: #2196f3;
    border-right: #c4c2c2 solid 2px;
    padding-right: 10px;

}
.item-especificacao-local{
    font-size: 10px;
    color: #424242;
    padding-left: 10px;
}
.item-descricao{
    font-size: 15px;
}

/* Footer */
footer{
    position: static;
    text-align: center;
    z-index: 3;
    width: 100%;
    bottom: 0;
    height: 50px;
}
h4{
    /* position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%); */
    font-size: 15px;
    font-weight: normal;
    color: rgb(90, 90, 90);
}

